body {

  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0px;
  word-break: break-all;
  background-color: #2c3932;
  color: #e4e4e4;
  width: 100vw;
}


div, main, section, footer{
  width: 100vw;
  height: 100vh;
}

h3{line-height: 1.4rem;}
h1{line-height: 3rem;}
