#wrap{
    width: 100%;
    height: auto;

}


#page-1{  width: 100vw;
  height: 100vh;}
#page-2{  width: 100vw;
  height: 100vh;}
#page-3{  width: 100vw;
  height: 100vh;}
#page-4{  width: 100vw;
  height: 100vh;}
#page-5{  width: 100vw;
  height: 100vh;}
#page-6{  width: 100vw;
  height: 100vh;}
#page-7{  width: 100vw;
  height: 100vh;}
#page-8{  width: 100vw;
  height: 100vh;}


.page-1-img{
  width: 100vw;
  height: 100vh;
} 

.holidaytitle{
  width: 100vw;
  height: 20vh;
} 

/* page-2 */

.subtitle{
  width: 100vw;
  height: 10vh;
}

.page-2-img{
  width: 60vw;
  height: 50vh;
  margin-top: 3vh;
}

.page-2-textbox{
  width: 50vw;
  height: 40vh;
}

.page-2-title{
  width: 46vw;
  height: 10vh;
}

.page-2-text{
  width: 46vw;
  height: 25vh;
}

/* page-3 */

.page-3-img{
  width: 60vw;
  height: 50vh;
}

.page-3-textbox{
  width: 50vw;
  height: 40vh;
}

.page-3-title{
  width: 46vw;
  height: 10vh;
}

.page-3-text{
  width: 46vw;
  height: 25vh;
}

/* page-4 */

.page-4-img{
  width: 78vw;
  height: 50vh;
}

.page-4-textbox{
  width: 60vw;
  height: 45vh;
}

.page-4-title{
  width: 55vw;
  height: 10vh;
}

.page-4-text{
  width: 55vw;
  height: 30vh;
}

/* page-5 */

/* .page-5-img{
  width: 78vw;
  height: 50vh;
} */

/* .page-5-textbox{
  width: 60vw;
  height: 45vh;
} */

/* .page-5-title{
  width: 55vw;
  height: 10vh;
} */

/* .page-5-text{
  width: 55vw;
  height: 30vh;
} */

/* page-6 */

/* .page-6-img{
  width: 74vw;
  height: 50vh;
} */

/* .page-6-textbox{
  width: 90vw;
  height: 30vh;
} */

/* .page-6-title{
  width: 55vw;
  height: 10vh;
} */

/* .page-6-text{
  width: 55vw;
  height: 20vh;
} */

/* page-7 */

/* .page-7-img{
  width: 74vw;
  height: 50vh;
} */

/* .page-7-textbox{
  width: 90vw;
  height: 30vh;
} */

/* .page-7-title{
  width: 55vw;
  height: 10vh;
} */

/* .page-7-text{
  width: 55vw;
  height: 20vh;
} */

/* page-8 */
/* .page-8-img{
 width: 100vw;
 height: 60vh;
} */

/* .page-8-title{
 width: 100vw;
 height: 30vh;
} */
